body#settings {
  header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  section#content {

    article#information {
      @include calc(width, "30% - 21px");
      padding: 40px 10px 20px;
      float: left;
      border-right: 1px solid whitesmoke;

      margin-top: 40px;
      text-align: right;

      div#left-col-menus {
        h1 {
          font-weight: 300;
          margin-bottom: 25px;
        }
        h5 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 19px;
          color: gray;
          margin-bottom: 30px;
        }
        p.help-info {

          color: lightgray;
          line-height: 1.5;
          width: 70%;
          float: right;
          margin-bottom: 40px;

        }
        ul {
          li {
            margin: 10px 0px;
            a {
              font-size:18px;
              display: inline-block;
              padding: 5px 0px 5px 5px;

              &.active-link {
                background-color: whitesmoke;
                color: #333333;
                padding-right: 10px;
                margin-right: -10px;
              }
            }
          }
        }
      }
    }

    article#activity {
      @include calc(width, "70% - 100px");
        padding: 30px 0 0 100px;
        float: left;
        margin-top: 90px;

        #list-of-team {
          width: 480px;
          li.team-to-join {
            div.team-info,
            img.team-logo { float: left; }
          }

          li.team-to-join {
            padding: 10px 10px 10px;
            border: 1px solid lightgray;
            border-radius: 4px;
            margin-bottom: 10px;
            div.team-info {
              margin-left: 10px;
              width: 370px;

              h3, p {
                margin-bottom: 5px;
              }

              button.blue-button, a.blue-button {
                font-size: 12px;
                padding: 6px 10px;
              }
            }
          }
        }

        table {
          tr {
            td {
              label {
                display: inline-block;
                width: 100%;
                text-align: right;
                font-size: 24px;
                font-weight: 300px;
                vertical-align: middle;
                margin-bottom: 10px;

                & + sub {
                  float: right;
                  color: gray;

                  &.over-limit, &.error { color: red; }
                }
              }
              input[type=text],input[type=password], textarea {

                margin-left: 20px;
                vertical-align: middle;
                padding: 5px;
                font-size: 24px;
                width: 300px;
                margin-bottom: 10px;

              }

              textarea { height: 100px; }

              &.photo-column {

                vertical-align: top;

                div.photo-area {
                  background-color: white;
                  width: 100px;
                  height: 100px;
                  position: relative;
                  background-size: 90px 90px;
                  background-position: center center;
                  background-repeat: no-repeat;
                  border: 1px solid lightgray;
                  margin-left: 19px;

                  img.photo-icon {

                    opacity: 0;
                    width: 50px;
                    position: absolute;
                    height: 50px;
                    bottom: 0px;
                    right: 5px;

                    // transform: translate(-50%, -50%);

                  }
                  input[type=file].hidden {
                    position: absolute;
                    // opacity: 0;
                    // width: 100px;
                    // height: 100px;
                    z-index: 1000;
                    cursor: pointer;
                    left: 110px;
                    top: 0px;
                  }
                }
              }

              button.blue-button {
                 margin: 20px;
              }

              div.info {
                margin-top: 0px;
                width: 360px;
                font-size: 14px;
                padding: 20px;
                background-color: #EAEAEA;
                margin-left: 20px;
              }
            }
          }
        }
    }
  }
}
