body#settings {
  header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  section#content {

    article#information {
      @include calc(width, "30% - 21px");
      padding: 40px 10px 20px;
      float: left;
      border-right: 1px solid whitesmoke;

      margin-top: 40px;
      text-align: right;

      div#left-col-menus {
        h1 {
          font-weight: 300;
          margin-bottom: 25px;
        }
        h5 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 19px;
          color: gray;
          margin-bottom: 30px;
        }
        p.help-info {

          color: lightgray;
          line-height: 1.5;
          width: 70%;
          float: right;
          margin-bottom: 40px;

        }
        ul {
          li {
            margin: 10px 0px;
            a {
              font-size:18px;
              display: inline-block;
              padding: 5px 0px 5px 5px;

              &.active-link {
                background-color: whitesmoke;
                color: #333333;
                padding-right: 10px;
                margin-right: -10px;
              }
            }
          }
        }
      }
    }

    article#activity {
      @include calc(width, "70% - 100px");
        padding: 30px 0 0 100px;
        float: left;
        margin-top: 90px;

        #list-of-team {
          width: 480px;
          li.team-to-join {
            div.team-info,
            img.team-logo { float: left; }
          }

          li.team-to-join {
            padding: 10px 10px 10px;
            border: 1px solid lightgray;
            border-radius: 4px;
            margin-bottom: 10px;
            div.team-info {
              margin-left: 10px;
              width: 370px;

              h3, p {
                margin-bottom: 5px;
              }

              button.blue-button, a.blue-button {
                font-size: 12px;
                padding: 6px 10px;
              }
            }
          }
        }

        table {
          @extend table.form-table
        }
    }
  }
}
