div.call-now.highlight
  h1 Make your first call now!
    br
    br
    h3 <strong>Step 0</strong>: Check out <a href='https://docs.google.com/document/d/14lWdOdMRJVfP8VPouz47SOOtLXlGOzxxcmNwVWDyM6s/edit?usp=drivesdk' target='_blank'>this guide</a> to learn about phone banking and why this work is important to Bernie. For a more detailed walkthrough, checkout the Official <a href='https://www.berniesanders.com/phonebank'>phonebanking page</a>.
    br
    h3 <strong>Step 1</strong>: You can <a href='http://organize.berniesanders.com'>call other volunteers</a> to have them go to a phonebank OR <a href='https://go.berniesanders.com/page/content/phonebank' target='blank'> call voters from early states</a>.
    br
    h3 <strong>Step 2</strong>: &nbsp; Report your calls/texts. Hover over your profile name (top right), and <a href='javascript: void(null)' onclick="$('#call-in').addClass('show-lightbox'); $(this).closest('li.with-submenu').trigger('mouseout');">click on "Report-In"</a>
    br
    h5 All calls/texts you make will be added to your daily totals.
