header.clearfix
  div.viewport
    a(href='/')
      span#logo Phonebank Duel (ALPHA)
    div#nav-area
      nav
        ul.menu-list
          li.menu-item
            a(href='/rank/caller') Caller Ranking
          li.menu-item
            a(href="/rank/team") Team Ranking
          li.menu-item Command Center (Coming Soon)
          li.menu-item
            a(href='http://organize.berniesanders.com/', target='_blank') Call for Bernie
          - if ( loggedIn ) {
            li.with-submenu.menu-item.profile
              span.arrow &#9662;
              a(href="/user/" + _user.username)
                img(src= _user.photo, width="20px", height="20px")
                span= _user.username
              ul.submenu
                li.submenu-item
                  a(href='javascript: void(null)', onclick="$('#call-in').addClass('show-lightbox'); $(this).closest('li.with-submenu').trigger('mouseout');") Submit Call
                if _user.team
                  li.submenu-item
                    a(href='/team') My Team
                  li.submenu-item
                    a(href='/team/edit') Team Settings
                else
                  li.submenu-item
                    a(href='/team/create') Start a Team
                  li.submenu-item
                    a(href='/team/join') Join a Team
                li.submenu-item
                  a(href='/user/edit') Edit Profile
                li.separator
                li.submenu-item
                  a(href='/logout') Logout
          - } else {
              li.menu-item
                a(href="/user/register") Register
          - }




