ul
  li.left-menu-item
    a(href='/team/create', class= currentPage=='/create' ? "active-link" : "") Create Team
  li.left-menu-item
    a(href='/team/join', class= currentPage=='/join' ? "active-link" : "") Join a Team
