doctype html
html
  head
    title= "Phonebank Duel " + ( title ? (" - " + title) : "")
    link(href='https://fonts.googleapis.com/css?family=Lato:100,900,700,400,300'
         rel='stylesheet'
         type='text/css')
    link(rel='stylesheet', href='/stylesheets/pbd.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
  body(id= layout)
    .content
      include ../partial/header.jade
      include ../partial/flash.jade
      section#profile
        block profile
      section#content.clearfix
        article#information
          block information
        article#activity
          block activities
        article#more
          block more

      include ../partial/footer.jade

      block scripts

include ../partial/js_libs.jade
include ../partial/lightbox.jade
