doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Lato:100,900,700,400,300'
         rel='stylesheet'
         type='text/css')
    link(rel='stylesheet', href='/stylesheets/pbd.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
  body#rank-layout
    .content
      include ../partial/header.jade
      include ../partial/flash.jade
      div.clearfix
        section#left-col
          block left_content
        section#right-col
          block right_content

      include ../partial/footer.jade

    include ../partial/js_libs.jade
    include ../partial/lightbox.jade

    block script_content


//- extends ../partial/lightbox
//-   block lb_content
//-     div
//-       h1 goodbye world
