extends ../layout/hero

block hero_content
  img.background-image(src='/images/login-2.png')
  div.form-area
    h2.spiel
      span.action Login
      &nbsp;or&nbsp;
      a(href='/user/register#{report_in ? "?report_in=true" : ""}', style='font-weight: 300') Register
    form.form-proper(method="POST", action="/login")
      if(report_in)
        input(type='hidden', name='report_in', value='true')
      table
        tr.email-area
          td
            label Email
          td
            input(type='text',name="email")
        tr.password-area
          td
            label Password
          td
            input(type='password',name="password")
        tr
          td &nbsp;
          td
            button.blue-button Login


