extends ../layout/hero

block hero_content
  img.background-image.no-margin-top(src='/images/registration.jpg')
  div.form-area
    h2.spiel
      span.action Register
      span &nbsp;or&nbsp;
      a(href='/user/login') Login

    if team
      div.team-registration.clearfix
        img(src= team.logo)
        div.team-blurb
          h5 You are joining
          h3 Team #{team.name}
          p= team.description

      sub By registering you will automatically join Team #{team.name}. To register without a team, go to <a href='/user/register'>basic Registration Page</a>


    form.form-proper(method="POST",action='/user/register')
      if team
        input(type='hidden', name='user[team]', value=team._id)
      table
        tr.name-area
          td
            label Username
          td
            input(type='text', name='user[username]')
        tr.email-area
          td
            label Email
          td
            input(type='email', name='user[email]')
        tr.password-area
          td
            label Password
          td
            input(type='password', name='user[password]')
        tr
          td &nbsp;
          td
            button.blue-button Register


